/* .navbar{
float: left;
display:block;
text-align:center;
padding:10px 26px;
background-color:#303633;

} */
.navbar-nav{
  float: right;
}

@media only screen and (max-width: 600px) {
  .navbar-nav{
  float:right;
  }
  .img{}
}

.list-group-item {
  line-height: 2.5;
}

h1{
  text-align: center;
  padding: 20px;
  margin-top:10%;
  color: #f2f2f2;
}

body{
  height: 1000px;
}


.img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
  width: 100%;
  height: auto;
  /* opacity: 0.5; */
}

.getStarted{
  float: right;
}

p{
  color: #f2f2f2;
}

h2{
  text-align: center;
  margin-top:20%;
  color: #f2f2f2;
}

h5{
  text-align: center;
  margin-bottom:40px; 
}

.row{
  margin-top: 5%;
  position: auto;
  border-radius: 50%;
  
}

#customers{
  margin: auto;
  margin-top: 5%;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(92, 163, 204);
  color: white;
}

.photos{
  margin: auto;
  margin-top: 5%;
  margin-bottom: 30%;
  background-color: rgb(113, 153, 228);
  width:50%;
  height:400px;
  padding: 20px;
  align-content: center;
  /* border-style: solid;
  border-width:1px; */
}

.footer{
  margin-top: 3%;
  padding: 10px;
  color: #f2f2f2;
}

.subscribe{
  margin-left: 40em;
}