
#camera,
#camera--view,
#camera--sensor,
#camera--output {
  position: fixed;
  max-height: 50%;
  max-width: 50%;
  object-fit: cover;
}

#map {
  position: fixed;
  height: 50%;
  width: 50%;
  object-fit: cover;
  left: 50%;
  float: left;
}

#camera--view,
#camera--sensor
#camera--output {
  transform: scaleX(-1);
  filter: FlipH;
}

#camera--trigger {
  width: 200px;
  background-color: black;
  color: white;
  font-size: 16px;
  border-radius: 30px;
  border: none;
  padding: 5px 10px;
  text-align: center;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  bottom: -380px;
  margin-left: 70%;
}

.taken {
  height: 100px !important;
  width: 100px !important;
  transition: all 0.5s ease-in;
  border: solid 3px white;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  top: 20px;
  right: 20px;
  z-index: 2;
}

#theImg{
  height:320px;
}

#exampleModalLabel{
  text-align: center;
}

h1 {
  text-align: center;
  padding: 20px;
  margin-top: 10%;
  color: #f2f2f2;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.link {
  max-width: 100%;
  display: flex;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  /* opacity: 0.9; */
}

.instructions {
  display: block;
  text-align: center;
  font-style: italic;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  padding: 20px;
  background-color: #070707;
  opacity: .6;
  /* width: 50%; */
  color: whitesmoke;
  /* opacity: 0.9; */
}



/* .getStarted {
  float: right;
} */

p {
  color: #f2f2f2;
}

h1{
  color: whitesmoke;
}

h2 {
  text-align: center;
  margin-top: 20%;
  color: #f2f2f2;
}

h4{

  color:white;

}

h5 {
  text-align: center;
  margin-bottom: 40px;
  color:black;
}

h6{
  color:black;

}

.row {
  margin-top: 5%;
  position: auto;
  border-radius: 50%;
}

#customers {
  margin: auto;
  margin-top: 5%;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(92, 163, 204);
  color: white;
}

.photos {
  margin: auto;
  /* background-color: blue; */
  width: 50%;
  height: 400px;
  padding: 20px;
  align-content: center;
  border-style: solid;
}

.footer {
  margin-top: 3%;
  padding: 10px;
  color: #f2f2f2;
}

.py-3 {
  margin-top: 3%;
  padding: 10px;
  color: #f2f2f2;
}

.subscribe {
  margin-left: 40em;
}

@media (min-width:800px) and (min-width: 1000px) {
  .link {
    max-width: 20%;
    max-height: 10%;
  }
}
