html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box
}

.contHead{
    position: absolute;
    display: flex;
    background-color: black;
    width: 100%;
    max-height: 20%;
}

.title{
    position: relative;
    color: white;
    font-size: 200%;
    width: 30%;
    margin-left: 5%
}

/* a{
    position: relative;
    font-size: 150%;
    max-width: 30%;
    text-decoration: none;
    top: 50%;
} */

a.link{
    color: white;
}



#camera,
#camera--view,
#camera--sensor,
#camera--output {
  position: fixed;
  height: 50%;
  width: 40%;
  bottom: 0%;
  object-fit: cover;
}

#map{
  position: fixed;
  height: 50%;
  width: 50%;
  object-fit: cover;
  top: 10%; 
  left: 50%;
  float: left;
}

#camera--view,
#camera--sensor,
#camera--output {
  transform: scaleX(-1);
  filter: FlipH;
}

#camera--trigger {
  width: 200px;
  background-color: black;
  color: white;
  font-size: 16px;
  border-radius: 30px;
  border: none;
  padding: 15px 20px;
  text-align: center;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 30px;
  left: calc(50% - 100px);
}

.taken {
  height: 100px !important;
  width: 100px !important;
  transition: all 0.5s ease-in;
  border: solid 3px white;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  top: 20px;
  right: 20px;
  z-index: 2;
}

img{
    max-width: 100%;
}

@media only screen and (max-width:800px){
    .title{
        font-size: 150%;        
    }
}

@media only screen and (max-width:500px){
    .title{
        font-size: 150%;        
    }
    a{
        max-width: 100%;
    }
}